*{
    font-family: poppins, serif;
}

.containerCard{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.passwordCard{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}


.containerImagePassword{
    align-items: center;
    border: 2px #EFEEF1 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;

}

.imagePassword{
    height: 40px;
    width: 40px;
}

.containerTitles{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerTitles .subTitle{
    color: #585B63;
}

.containerInputEml{
    display:flex;
    margin: 10px 0 10px 0;
    width: 100%;
}

.inputEmlGroup{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

/* From Uiverse.io by alexruix */
.inpEml {
    background-color: #ffffff;
    border: 2px solid #E0E0E0;
    border-radius: .5rem;
    font-size: 15px;
    height: 35px;
    padding: 0 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.lablEml {
    color: black;
    display: block;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .3rem;
}

.inpEml:hover, .inpEml:focus, .inputEmlGroup:hover .inpEml {
    border-color: #029EDC;
    outline: none;
}

.resetPwd{
    background: #01A0DD;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    height: 44px;
    letter-spacing: 1px;
    outline: none;
    padding: 0 12px 0 12px;
    text-transform: uppercase;
    width: 100%;
}

.containerButtonReset{
    margin-top: 10px;
}

.containerButtonBack{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonBack {
    display: flex;
    height: 3em;
    width: 130px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 0;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.buttonBack > svg {
    margin-right: 7px;
    margin-left: 4px;
    transition: all 0.4s ease-in;
}

.buttonBack:hover > svg {
    transform: translateX(-5px);
}

.buttonBack:hover {
    box-shadow: 9px 9px 33px 0 #d1d1d1;
    transform: translateY(-2px);
}

.buttonBack span{
text-transform: uppercase;
}


/*Responsividad*/

@media(min-width:1px){
    .containerTitles .mainTitle{
        font-size: 20px;
        margin: 20px 0 10px 0;
    }

    .containerTitles .subTitle{
        font-size: 15px;
        margin: 0;
    }

    .buttonBack span{
        font-size: 11px;
    }
}