.containerCard{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.passwordCard{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}


.containerImagePassword{
    align-items: center;
    border: 2px #EFEEF1 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;

}

.imagePassword{
    height: 40px;
    width: 40px;
}



/*Responsividad*/

@media (max-width: 1px){
    .mainTitle{
        font-size: 20px;
    }
}